@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,200;0,400;1,100&family=Qwitcher+Grypen:wght@400;700&family=Romanesco&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$body-color: #3D3A40;
$logo-font: 'Bebas Neue', sans-serif;
$page-padding: 3rem;
$color-accent: #DB071A;

body{
  background: $body-color;
  font-family: 'Poppins', sans-serif;
  color :#fff;
}

.active{
  color: $color-accent !important;
}

.off-screen{
  display: none;
}

.on-screen{
  border: 1px solid green;
  display: flex;
}

#content {
  position: relative;
}


.page-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem $page-padding;
  box-shadow: 0 4px 12px rgba(23,23,23,0.9);
  margin: 1rem $page-padding 0;

  .logo {
    font-family: $logo-font;
    white-space: nowrap;
    font-size: 1.5rem;
  }
  
  a{
    text-decoration: none;
    color :#fff;
  }

  ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
    flex: 1;
    width: auto;
    max-width: 400px;
    font-size: 1rem;
    font-weight: 400;

    a{
      display: flex;
      align-items: center;

      span, i {
        margin-right: 5px;
        font-size: 16px;
        color: $color-accent;
      }

      i{
        width: 16px;
        height: 16px;
      }
    }

  }
}

.container{
  margin: 1rem 5rem 0;
  box-shadow: 0 4px 12px rgba(23,23,23,0.9);
  padding: 0 $page-padding;
  height: 85vh;
}

/* HOME PAGE SECTION */

div.home {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
  height: 100%;


  .left{
    margin-top: 12rem;

    h2{
      font-size: 90px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 200;
      font-family: 'Romanesco', cursive;

      span{
        font-family: 'Qwitcher Grypen', cursive;
        font-size: 100px;
        font-weight: 800;
      }

    }

    p{
      margin-top: 10px;
    }

    .input{
      width: 300px;
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 10px 3px 3px 10px;
      background: $color-accent;
      position: relative;
      margin-top: 15px;

      input{
        flex: 1;
        height: 100%;
        border-radius: inherit;
        border: none;
        outline: none;
        padding:10px;
      }

      span{
        padding: 10px;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
      }

      button{
        padding: 10px 28px;
        border-radius: 10px;
        margin-left: 40px;
        position: absolute;
        top: 0;
        left: 300px;
        border: none;

        &:hover{
          background: transparent;
          border: .3px solid #fff;
          color: #fff;
          transition: all 300ms ease;
          cursor: pointer 
        }
      }
    }
  }

  .right{
    /* background:url('../src/img/hamburger.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */

    img{
      display: block;
      width: 100%;
    }
  }
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 $page-padding;

  address{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span{
    color: $color-accent;
  }

  span button{
    margin-left: 15px;
    border: none;
    outline: none;
    padding: 5px 14px;
    border-radius: 5px;

    &:hover{
      background: transparent;
      border: .3px solid #fff;
      color: #fff;
      transition: all 300ms ease;
      cursor: pointer
    }
  }
}

.menu {
  color: green;
}

.contact{
  color: yellow;
}